@charset "utf-8";

@media screen and (max-width: 600px) {
	.wrapper {
	float: left;
	width: 100%;
	height: auto;
	}
	.header {
	float: left;
	width: 100%;
	height: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.header h1 {
	height: auto;
	margin: 2px auto 0 !important;
	padding: 24px;
	text-align: center;
	width: 54%;
	font-size: 8px;
	letter-spacing: 4px;
	}

	.ftr {
	display: none;
	/*font-size:4px;
	height: 3px;*/
	}
/*
	.ftr span.lft {
	float: left; /*width:100%;*/ /*padding:0 0 0 8px;
	height: auto;
	text-align: center;
	}

	.ftr span.rtl span {
	margin-right: 3px;
	margin-left: 44px;
	}

*/

	#imagepanel {
	width: 80%;
	padding: 5px 5px 3px;
	box-shadow: 0px 0px 3px #ddd;
	background: #fff;
	background-size: 5%;
	}

	.blogLink {
	width: 8%;
	margin-top: -3%;
	margin-left: 160px;
	}
	#menu {
	width: 60%;
	}

	.navs {
	float: left;
	width: 100%;
	height: auto;
	background: url(/img/bg_navs.png) repeat-x;
	overflow: hidden;
	}
	.navs ul {
	margin: 0 auto;
	width: 100%;
	height: auto;
	overflow: hidden;
	}
	.navs ul li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: inline;
	width: 33%;
	float: left;
	text-align: center;
	}
	.navs ul li a {
	font-family: "ITCgaramond", Times, serif;
	line-height: 37px;
	color: #b9babb;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 6px;
	}
	.container .galleryMain {
	top: -3px;
	}
	.galleryMain {
	margin: 0 auto;
	height: auto;
	overflow: visible;
	position: absolute;
	}
	.ftr span.rtl {
	float: right;
	width: 125px;
	height: auto; /*margin:10px 0 0 100px;*/
	}
	.fullContainer {
	margin-top: 90px;
	}
	.galleryInside {
	float: none;
	height: auto;
	padding: 0 0 50px 0;
	width: 105%;
	}
	.gallBlk {
	float: left;
	width: 84px;
	min-width: 65px;
	padding: 27px 0 0 0;
	height: auto;
	margin: 0px 1px!important;
	}
	.gallBlk a {
	color: #CCCCCC;
	display: block;
	float: left;
	margin-left: 5%!important;
	text-decoration: none;
	transition: all 0s ease 0s;
	width: 100%;
	    /*border-bottom: 1px solid #cccccc;*/
	    padding-bottom: 10px;
	background: none;
	height: 115px!important;
	}


	.gallBlk a span {
	float: left;
	width: 100%;
	height: auto; /*height:132px;*/ overflow:hidden; /*padding:1px;*/
	}
	.gallBlk a span img {
	width: 92%;  /*height:134px;*/ border: 1px solid #cccccc;
	}
	.gallBlk a:hover span img {
	border: 1px solid #444;  /*height:134px;*/
	}
	.gallBlk a h1 {
	float: left;
	width: 100%;
	padding: 1px 0 0 0; /*font-family:"ITCgaramond", Times, serif;*/font-family: 'EB Garamond', serif;
	font-size: 45%;
	font-weight: bold;
	max-height: 21px;
	height: 20px;
	}
	.gallBlk a p {
	float: left;
	width: 100%;
	padding: 4px 0 0 0;
	font-family: 'MS-Gothic';
	font-size: 5px;
	letter-spacing: 1px;
	background: #ffffff;
	}
	.gallBlk a p.fdate {
	float: left;
	width: 100%;
	padding: 2px 0 0 0;
	font-family: Arial;
	font-size: 8px;
	}
	.gallBlk a p.fphoto {
	float: left;
	width: 100%;
	padding: 1px 0 0 0;
	font-family: Arial;
	font-size: 8px;
	}
	.gallBlk a p.fmore {
	float: left;
	width: 100%;
	padding: 1px 0 0 0;
	font-family: Arial;
	font-size: 8px;
	}
	.clear {
	clear: both;
	}
	.gallBlk a:hover {
	color: #444;
	background: none;
	   /* border-bottom: 1px solid #444;*/
	}
	.galleryTxt {
	margin: 0 auto;
	width: 70%;
	height: auto;
	overflow: hidden;
	padding-bottom: 50px;
	padding-top: 20px;
	}
	.galleryTxt h1 {
	float: left;
	width: 65%;
	height: auto; 
	/*    font-family:"ITCgaramond", Times, serif;*/
	    font-family: 'EB Garamond', serif;
	font-size: 0.5em;
	color: #5c5e61;
	font-weight: normal;
	padding: 20px 0 5px 0;
	margin: 0 0 0 0;
	line-height: 15px;
	}
	.galleryTxt h1 span {
	float: left;
	width: 100%;
	height: auto;
	font-family: "Courier New",Courier,monospacef;
	font-size: 4px;
	color: #5c5e61;
	text-transform: uppercase;
	margin-top: -1px;
	letter-spacing: 0.6px;
	}
	.galleryTxt p {
	font-family: Verdana, Geneva, sans-serif;
	    /*font-family: "Courier New",Courier,monospacef;*/
	    font-size: 4px;
	font-weight: normal;
	height: auto;
	line-height: 6px;
	margin: 0;
	padding: 0 0 10px;
	text-align: left;
	width: 65%;
	}
	.galleryTxt p.productContent {
	width: 65%;
	text-align: left;
	padding: 0 0 10px 0;
	}
	.galleryTxt p.bio {
	line-height: 5px;
	margin: 7% 0 0 2px;
	}
	.galleryTxt p.contact {
	line-height: 5px;
	margin: 7% 0 0 0;
	}
	.header h1 img {
	width: 50%;
	margin: -3px auto 1px;
	}

	.processThumbContainer li {
	margin: 0 11px 7px 0px;
	width: 25.5%;
	}

	 #colorbox {
	width: 90% !important;
	margin-top: 20%!important;
	}
	    #cboxWrapper {
	width: 100% !important;
	height: auto !important;
	}
	    #cboxContent {
	width: 100% !important;
	height: auto !important;
	}
	    .cboxPhoto {
	width: 75% !important;
	height: auto !important;
	}
	    #cboxLoadedContent {
	width: 100% !important;
	height: auto !important;
	}

	a.processThumbs {
	border: 0px;
	padding: 2px 2px;
	}
	a.processThumbs:hover {
	border: 0px;
	}
	a.processThumbs img {
	padding: 2px 2px;
	border: 1px solid #e0e0e0;
	}
	a.processThumbs img.hover {
	border: 1px solid #999999;
	}

}
