@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'MS-Gothic';
    src: url('/css/fonts/msgothic.eot');
    src: url('/css/fonts/msgothic.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/msgothic.woff') format('woff'),
    url('/css/fonts/msgothic.ttf') format('truetype'),
    url('/css/fonts/msgothic.svg#msgothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('/css/fonts/Adobe Garamond Pro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCgaramond';
    src: url('/css/fonts/ITCGaramondStd-Bk.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rocl';
    src: url('/css/fonts/TlwgTypist.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

p {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

ul, li {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

img {
    width: 100%;
    border: 0px;
    outline: none;
}

a {
    outline: none;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

/* Magnific Popup Override Styles */
.productPopup.mfp-bg {
    background: #fff;
    opacity: 0.8;
}

.productPopup figure {}

.productProcess.mfp-bg {
    background: #000;
    opacity: 0.8;
}

#logobox h1 {
    margin: 0 auto;
    padding: 49px 0 0px;
    text-align: center;
    width: 247px;
}

#menu {
    width: 460px;
}

.ab a {
    margin-left: -2px;
    color: #5C5E61;
}

.bc a {
    margin-left: -11px;
}

.cd a {
    margin-left: -4px;
    line-height: 30px;
}

.wrapper {
    float: left;
    width: 100%;
    height: auto;
    top: 0px;
    position: absolute;
    z-index: 0;
}

.header {
    float: left;
    width: 100%;
    height: auto;
    z-index: 2100; /*background:#ffffff;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.headtext {
    width: 260px;
    margin: 0 auto;
    padding: 47px 0 44px;
    text-align: center;
    /*font-family:"ITCgaramond", Times, serif;*/
    font-family: 'EB Garamond', serif;
    letter-spacing: 7px;
    font-weight: lighter;
    font-size: 17px;
    color: #56575b;
    font-variant: small-caps;
}

.headtext a {
    text-decoration: none;
    color: #56575b;
}

/*.header h1 img {
width: 250px;
margin-top: -3px;
margin-bottom: 1px;
}
*/

.navs {
    float: left;
    width: 100%;
    height: 37px;
    background: url(/img/bg_navs.png) repeat-x;
    margin-top: -4px;
    overflow: hidden;
}

.navs ul {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.navs ul li {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: inline;
    width: 150px;
    float: left;
    text-align: center;
    font-size: 70%;
    line-height: 37px;
}

.navs ul li a {
    /*font-family:"ITCgaramond", Times, serif; 
                 /*line-height:37px; */
    font-family: 'EB Garamond', serif;
    line-height: 29px;
    color: #8d8f91;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

/*.navs ul li a:hover {
color: #5c5e61;
}

.navs ul li a.selected {
color: #5c5e61;
}
*/

.menuitem:hover {
    color: #5c5e61;
}

.menuitem.selected {
    color: #5c5e61;
}

.container {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.galleryMain {
    margin: 0 auto;
    width: 100%; /*padding-left:10px;*/
    height: auto;
    overflow: hidden;
}

.galleryInside {
    overflow: hidden;
    padding-bottom: 50px;
    margin: 2px auto;
    padding: 0 0 50px 0;
    width: 1010px;
}

.galleryTxt {
    margin: 0 auto;
    width: 700px;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.galleryTxt h1 {
    height: auto;
    /*    font-family:"ITCgaramond", Times, serif;*/
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    color: #5c5e61;
    font-weight: normal;
    padding: 50px 0 20px 0;
    margin: 0 0 0 0;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
}

.galleryTxt h1 span {
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.28em;
    color: #5c5e61;
    text-transform: uppercase;
    margin-top: -1px;
    display: block;
}

.galleryTxt p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #b2b5bb;
    font-weight: normal;
    line-height: 17px;
    text-align: left;
}

.galleryTxt p.productPhoto {
    margin: 0;
	padding:0;
}

.galleryTxt p.productPhoto img.lazy {
    display: block;
}

.lazy {
    cursor: pointer;
}

#bkimg {
    width: 40%;
    height: 10%;
    position: absolute;
    margin-left: 32%;
    top: 0px;
    z-index: 5;
    cursor: pointer;
}

#bkimgThumb {
    position: absolute;
    margin-left: 32%;
    top: 0px;
    z-index: -1;
}

.galleryTxt p.productContent {
    width: 59%;
    max-width: 555px;
    text-align: left;
    padding: 0 0 70px 0;
}

.galleryTxt p img {}

.galleryTxt a {
    color: #5c5e61;
    text-decoration: none;
	display: block;
}

.galleryTxt a:hover {
    color: #5c5e61;
}

.galleryTxt p.bio {
    font-family: 'EB Garamond', serif;
	font-size: 0.9em;
    margin: 111px 0 0 2px;
    line-height: 19px;
}

.galleryTxt p.contact {
    font-family: 'EB Garamond', serif;
	font-size: 0.9em;
    margin: 76px 0 0 0;
}

.gallBlk {
    float: left;
    width: 255px;
    padding: 50px 0 0 0;
    height: 250px;
}

.gallBlk a {
    float: left;
    width: 206px;
    height: 250px;
    display: block;
    text-decoration: none;
    color: #bec1c2;
    background-repeat: no-repeat;
    margin-left: 24px;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    /*border-bottom: 1px solid #cccccc;*/
    margin-top: -2px;
}

.gallBlk a span {
    float: left;
    width: 205px;

    height: 134px;

    overflow: hidden;
    padding: 1px;
}

.gallBlk a span img {
    width: 99%;
    height: auto;
    border: 1px solid #c2c2c2;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.gallBlk a:hover span img {
    border: 1px solid #444;
    -webkit-transition: all 0.0s ease-out;
    -moz-transition: all 0.0s ease-out;
    -ms-transition: all 0.0s ease-out;
    -o-transition: all 0.0s ease-out;
    transition: all 0.0s ease-out;
}

.gallBlk a h1 {
    float: left;
    width: 100%;
    padding: 11px 0 6px 0;
    /*font-family:"ITCgaramond", Times, serif;*/
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.gallBlk a p {
    float: left;
    width: 100%;
    padding: 15px 0 8px 0;
    border-bottom: 1px solid #cccccc;
    font-size: 7px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    letter-spacing: 1px;
    margin-left: 1px;
    font-family: Verdana, Geneva, sans-serif;

    -webkit-transition: border-bottom 0.8s ease-out;
    -moz-transition: border-bottom 0.8s ease-out;
    -ms-transition: border-bottom 0.8s ease-out;
    -o-transition: border-bottom 0.8s ease-out;
    transition: border-bottom 0.8s ease-out;
}

.gallBlk a p.fdate {
    float: left;
    width: 100%;
    padding: 5px 0 0 0;
    font-family: Arial;
    font-size: 8px;
}

.gallBlk a p.fphoto {
    float: left;
    width: 100%;
    padding: 1px 0 0 0;
    font-family: Arial;
    font-size: 8px;
}

.gallBlk a p.fmore {
    float: left;
    width: 100%;
    padding: 1px 0 0 0;
    font-family: Arial;
    font-size: 8px;
}

.clear {
    clear: both;
}

.gallBlk a:hover {
    color: #444;
    background: transparent;
    -webkit-transition: all 0.0s ease-out;
    -moz-transition: all 0.0s ease-out;
    -ms-transition: all 0.0s ease-out;
    -o-transition: all 0.0s ease-out;
    transition: all 0.0s ease-out;
    /*border-bottom: 1px solid #000000;*/
}

.gallBlk a:hover p {
    border-bottom: 1px solid #000000;
    -webkit-transition: all 0.0s ease-out;
    -moz-transition: all 0.0s ease-out;
    -ms-transition: all 0.0s ease-out;
    -o-transition: all 0.0s ease-out;
    transition: all 0.0s ease-out;
}

.fullContainer {
    margin-top: 159px;
}

.container .galleryMain {
    visibility: hidden;
    top: -2px;
    position: absolute;
}

.container .galleryActive {
    visibility: visible;
}

.productContent {
	border: 1px solid #ddd;
	border-width: 1px 0;
	padding: 1.5em 0;
}

.productContent p {
	font-size: 1em;
	font-family: 'EB Garamond', serif;
}

.seeProcessLink {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #b2b5bb !important;
}

.seeProcessLink span {
    width: 7px;
    height: 7px;
    margin-right: 5px;
}

.seeProcessLink span:before {
    content: '→';
    line-height: 0;
    text-indent: 0;
    color: inherit;
}

.seeProcessLink span.arrowrighticon:before {
    content: '↓';
}

a.processThumbs {
    border: 1px solid #e0e0e0;
    clear: both;
    display: block;
    float: left;
    margin: 5px 0;
    padding: 3px 3px 0;
}

a.processThumbs:hover {
    border: 1px solid #999999;
}

.processThumbContainer {
    clear: both;
    float: left;
    display: none;
}

.processThumbContainer li {
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0 11px 10px 0px;
    width: 22.5%;
}

.ftr {
    bottom: 0px;
    height: 11px;
    right: 0%;
    left: 0%;
    position: fixed !important;
    position: absolute;
    padding: 10px 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    top: expression((0-(footer.offsetHeight)+
    (document.documentElement.clientHeight?
    document.documentElement.clientHeight:
    document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop?
    document.documentElement.scrollTop: document.
    body.scrollTop))+'px');
    text-align: center;
    border-top: 1px solid #cccecf;
    background-color: #fff;
}

/*.ftr span.lft {
float: left;
width: 265px;
padding: 0 0 0 25px;
height: auto;
}
*/
.ftr span.lft {
    float: left; /*width:100%;*/
    padding: 1px 0 0 15px;
    height: auto;
    text-align: center;
}

.ftr span.lft a, .ftr span.rtl a {
    color: #000;
    text-decoration: none;
}

.ftr span.lft a, .ftr span.rtl a:hover {
    color: #bfbfbf;
    text-decoration: none;
}

.ftr span.lft a, .ftr span.rtl a.active {
    color: #bfbfbf;
    text-decoration: none;
}

/*.ftr span.rtl {
float: right;
width: 125px;
height: auto;
}
*/
.ftr span.rtl {
    float: right;
    width: 125px;
    height: auto;
    padding-top: 1px;
}

.ftr span.rtl span {
    margin-right: 5px;
}

.blogLink {
    width: 17%;
    margin-top: -6px;
    margin-left: 80px;
}

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.masonry {
    -webkit-transition-property: width, height;
    -moz-transition-property: width, height;
    -ms-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

